<!DOCTYPE html>
<html>
<head>
    <title>Test App</title>
</head>
<body>
    <h1>Vulnerable Test Application</h1>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />
        <button type="submit">Login</button>
    </form>
    <p>Try <a href="/search?q=<script>alert(1)</script>">XSS test</a></p>
    <p>Ping: /ping?host=127.0.0.1</p>
    <p>Download: /download?file=.../.../etc/passwd</p>
    <p>Read: /read?path=/etc/passwd</p>
    <p>Hash: /hash?pwd=test</p>
</body>
</html>